variable "ami" {
  description = "AMI ID for the EC2 instance"
}

variable "instance_type" {
  description = "Type of EC2 instance"
}

variable "subnet" {
  description = "Subnet ID for the EC2 instance"
}

variable "vpc_id" {
  description = "VPC ID where the security group is located"
}

variable "security_group_id" {
  description = "ID of the security group to be associated with the EC2 instance"
}