# AWS Profile
profile_id       = "Your ID"

# VPC and Subnet CIDR Blocks
vpc_cidr         = "10.0.0.0/16"
subnet_a_cidr    = "10.0.1.0/24"
subnet_b_cidr    = "10.0.2.0/24"

# Availability Zones
availability_zones = ["eu-central-1a", "eu-central-1b"]

# EC2 Instance Configuration
ami              = "ami-0b74f796d330ab49c"
instance_type    = "t2.micro"

# Security Group
my_ip            = "Your IP"
vpn_ip           = "Your IP"

# Elastic Load Balancer
elb_name         = "my-elb"
target_group_name = "my-target-group"

# EC2 Instance Tags
ec2_instance_tags = {
  Name = "my-first-ec2"
}